* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
#title-container {
    background-color: black;
}
#title-container h1 {
    color: #fff;
    text-transform: uppercase;
}
#qrcode {
    width: 250px;
    height: 250px;
    background-color: black;
}
#email-form input,
#generate {
    background-color: black !important;
}

#email-id {
    color: white;

}
#email-id::placeholder {
    color: white;
}

#footer-text h6 {
    font-size: 10px;
    margin-top: 12.5rem;
    text-transform: uppercase;
}


@media screen and (max-width: 768px) {
    #qr-container,
    #email-id,
    .text-danger {
        display: flex;
        justify-content: center !important;
        text-align: center;
    }
    #generate {
        width: 100% !important;
    }
}


