* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("background.png");
    background-color: #f16261;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 75rem;
    height: 100vh;
    overflow: hidden;
}
h1,h2,p {
    color: white;
}

h1 {
    text-transform: uppercase;
}

#hash-container {
    text-align: center;
    margin-top: 10rem;
}
#form {
    display: flex;
    align-content: center;
    justify-content: center;
}
#form input {
    width: 50%;
    text-align: center;
}
#copy {
    background-color: #c5c5c5;
    border: none;
}

.footer h2 {
    font-size: 10px;
    text-align: center;
    margin-top: 15rem;
}